# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
master_thesis.aux
master_thesis.bbl
master_thesis.dvi
utils/hpi_logo_text.pdf
utils/hpi_logo.pdf
utils/hpicolors.tex
utils/environments.tex
utils/commands.tex
titlepage_english.log
master_thesis.tps
master_thesis.toc
master_thesis.tcp
master_thesis.out
master_thesis.log
master_thesis.pdf
bachelor_thesis.aux
bachelor_thesis.log
bachelor_thesis.out
bachelor_thesis.pdf
bachelor_thesis.toc

